html{
    box-sizing: border-box;
}
.jumbotron-fluid{
    background-image: url("https://i.pinimg.com/236x/83/68/a0/8368a09c06e7cfab677d2b56d5cdb5f1.jpg");
    height: 500px;
    background-position: 500px;
    background-size: 500px;
    color: white;
}
.overlay{
    padding: 300px;
}
.carousel-inner{
    size: 50%;
    align-content: center;
    width: 400px;
}
.size{
    background-image: url("https://i.pinimg.com/236x/87/14/f7/8714f733cab08f7713cb33930a48ede2.jpg");
    background-size: cover;
}