html {
    box-sizing: border-box;
}

.jumbotron {
    background-image: url("/image/wood.jpg");
}

.overlay {
    width: 100%;
}

.border {
    float: left;
    background-color: #ff9966;
}

.size {
    background-image: url("https://i.pinimg.com/236x/39/0b/14/390b1481cd1e714d78af4431029dea6e.jpg");
    background-size: inherit;
}

#option {
    box-sizing: content-box;
    background-color: teal;
    background-image: url("https://i.pinimg.com/236x/e3/9c/58/e39c58d3f5ec769d3f60b03a302e0a76.jpg");
    align-items: center;
    background-size: 80%;
    height: 50%;
}

.option1 {
    border: thick;
}

.carousel-item {
    margin: 50px;
    position: center;
    display: none;
    width: 100%;
    padding: 50px;
    margin-left: 20px;
    margin-right: 20px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .carousel-item {
        transition: none;
    }
}

#demo {
    position: center;
}

.navbar {
    float: right;
}

.orders {
    background-color: khaki;
}

.container {
    background-image: url("https://images.unsplash.com/photo-1502056247561-73539df36440?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
}

.restaurant {
    background-image: url("https://images.unsplash.com/photo-1542836463-42e739ca2370?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
}

.jumbotron-fluid {
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 50px;
}